section.main {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}
div.main {
  border-radius: 5%;
  color: white;
  padding: 10%;
}
.main .list {
  justify-content: center;
  align-items: center;
}
.main h1 {
  text-align: center;
}