* {
  box-sizing: border-box;
  font-family: sans-serif;
}
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #202020;
  color: white;
}
div.list {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}
div.code {
  border-radius: 2vw;
  border: 1px solid #a0a0a0;
  padding: 1vw;
  color: orange;
  width: 50vw;
}
a {
  color: #a0a0a0;
  padding: 1vh;
  border-radius: 0.5vh;
  transition: all 200ms ease-in-out;
}
a:hover {
  background-color: #404040;
}
h1 {
  font-size: 5vh;
}
section {
  padding: 2vw;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #303030;
  padding: 0 5vw; 
}
nav ul.nav-container {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}
nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  transition: color 300ms;
  margin: 0 7px;
  position: relative;
}
nav a#home {
  font-weight: 900;
}
nav li:not(.btn) a::after {
  background-color: white;
  content: " ";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 300ms ease-in-out;
}
nav li:not(.btn) a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
button.outline{
  background-color: transparent;
  border-color: white;
  border-style: solid;
  border-radius: 7%;
  color: white;
  transition: all 300ms ease-in-out;
  padding: 5px;
  margin-left: 80vw;
  margin-bottom: 10vh;
}
a.btn-par:hover button.outline {
  background-color: white;
  color: #303030;
  cursor: pointer;
}
a.btn-par {
  padding: none;
}
a.btn-par:hover {
  background: inherit;
}
footer {
  display: flex;
  justify-content: center;
}
img.logo {
  width: 10rem;
  height: auto;
}